# See https://help.github.com/ignore-files/ for more about ignoring files.

# Dependencies
/node_modules
/dist

# Misc
/.idea
.DS_Store
npm-debug.log*
yarn-error.log*
.DS_Store

# Use Yarn!
package-lock.json

# Test artifacts
/coverage
/.nyc_output

# ENV
.env
